.side-bar
  .side-bar__header
    %h3.side-bar__header-name
      =current_user.name
    %ul.side-bar__header-lists
      %li.side-bar__list
        =link_to new_group_path do
          =fa_icon "pencil-square-o", class: 'icon'
      %li.side-bar__list
        =link_to edit_user_path(current_user) do
          =fa_icon "cog", class: 'icon'

  .side-bar__groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .side-bar__group
          .side-bar__group__name
            = group.name
          .side-bar__group__message
            メッセージはまだありません。

.chat-content
  .chat-content__header
    .chat-content__left-header
      .chat-content__left-header-title Sampleグループ１
      %ul.chat-content__members
        %li.chat-content__member Member :
        %li.chat-content__member ukawa
        %li.chat-content__member mai
    .chat-content__right-header

      = link_to "Edit", "/groups/1/edit", class: "chat-content__button"
  .chat-content__main
    .chat-content__message.chat-content__message--top
      .chat-content__message-info
        .chat-content__member-name ukawa
        .chat-content__date 2018/12/01 13:14
      .chat-content__message-main こんにちは
    .chat-content__message
      .chat-content__message-info
        .chat-content__member-name mai
        .chat-content__date 2018/12/01 15:14
      .chat-content__message-main 元気
  .chat-content__form-content
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'chat-content__form-message', placeholder: 'type a message'
      .chat-content__form-image
        = f.label :image, class: 'chat-content__image' do
          =fa_icon "picture-o icon", class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'chat-content__form-submit'





