.side-bar
  = render 'side_bar'

.chat-content
  .chat-content__header
    .chat-content__left-header
      .chat-content__left-header-title Sampleグループ１
      %ul.chat-content__members
        %li.chat-content__member Member :
        %li.chat-content__member ukawa
        %li.chat-content__member mai
    .chat-content__right-header
      = link_to "Edit", "/groups/1/edit", class: "chat-content__button"

  .chat-content__main
    = render @messages

  .chat-content__form-content
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'chat-content__form-message', placeholder: 'type a message'
      .chat-content__form-image
        = f.label :image, class: 'chat-content__image' do
          =fa_icon "picture-o icon", class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'chat-content__form-submit'





